.home-section {
  background: #010124; 
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.home-content {
  position: relative;
  z-index: 2;
  padding: 2rem;
}

.profile-photo-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.profile-photo {
  width: 400px; 
  height: 400px; 
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-photo-wrapper:hover .profile-photo {
  transform: scale(1.1);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
}

.welcome-text {
  font-size: 3rem;
  font-weight: 700;
  color: #e9c46a; 
  display: inline-block;
  animation: wave-text 2s infinite;
}

@keyframes wave-text {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

p.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #f4a261; 
}

.btn-primary {
  background-color: #e76f51;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #d62828;
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
  .profile-photo {
    width: 180px; 
    height: 180px;
  }
  
  h1.display-3 {
    font-size: 2.5rem;
  }

  p.lead {
    font-size: 1rem;
  }
}
