.skills-section {
  background: #629584; /* Set the background color */
  padding: 4rem 1.5rem;
  border-radius: 8px;
}

.skills-section h5 {
  margin-top: 10px;
  color: #333;
}

/* Skill card styling */
.skill-card {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .skill-card {
    padding: 15px;
  }
}
